<!DOCTYPE html>
<html>
<head>
<style>
.origin {
	color: white;
	background: green;
}

.funfact {
	font-weight: bold;
	color: red;
}

.excited {
	text-decoration: underline;
	color: blue;
}
</style>
</head>
<body>

<h1>All about me!</h1>

<%= image_tag("smittens.jpg", :alt => "pic") %>

<br></br>

<p1 class="origin">Hi, I'm Emma. I was originally born in Taiwan but moved to Modesto, CA when I was in elementary school! </p1>

<br></br>

<p1 class="year">I'm currently a sophomore.</p1>
<br></br>

<p1 class="funfact">A fun fact would be that I love to make desserts! I just wish I had more time to do so.</p1>
<br></br>

<p1 class="excited">I'm most excited about learing how to efficiently make a working website!</p1>
<br></br>
</body>
</html>